<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAccessibilityUsageDescription</key>
	<string>Copy Stack needs accessibility access to automatically paste clipboard items.</string>
	<key>NSPasteboardUsageDescription</key>
	<string>Copy Stack needs access to the clipboard to collect the items in your stack.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
</dict>
</plist>
